* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.contenido {
  position: absolute;
  top: 50%;
  left: 10%;
  max-width: 600px;
}

.titulo {
  font-size: 60px;
}

.subtitulo {
  font-size: 22px;
  margin-top: 10px;
  color: #96ff3b;
}

.descripcion {
  margin-top: 20px;
  font-size: 17px;
  max-width: 500px;
}

.cta {
  margin-top: 30px;
  display: inline-block;
  padding: 12px 28px;
  background: #96ff3b;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
}